@import url('/css/whitespace-reset.css');

html {
  overflow-y: scroll;
}

ul {
  list-style: disc;
  list-style-position: inside;
}

ol {
  list-style: decimal;
  list-style-position: inside;
}

strong {
  color: black;
}

@font-face {
  font-family: 'Museo300-Regular-webfont';
  src: url('/fonts/Museo300-Regular-webfont.eot');
  src: url('/fonts/Museo300-Regular-webfont.eot?iefix') format('eot'),
     url('/fonts/Museo300-Regular-webfont.woff') format('woff'),
     url('/fonts/Museo300-Regular-webfont.ttf') format('truetype'),
     url('/fonts/Museo300-Regular-webfont.svg#webfont') format('svg'); }

@font-face {
  font-family: 'Museo500-Regular-webfont';
  src: url('/fonts/Museo500-Regular-webfont.eot');
  src: url('/fonts/Museo500-Regular-webfont.eot?iefix') format('eot'),
     url('/fonts/Museo500-Regular-webfont.woff') format('woff'),
     url('/fonts/Museo500-Regular-webfont.ttf') format('truetype'),
     url('/fonts/Museo500-Regular-webfont.svg#webfont') format('svg'); }

@font-face {
  font-family: 'Museo700-Regular-webfont';
  src: url('/fonts/Museo700-Regular-webfont.eot');
  src: url('/fonts/Museo700-Regular-webfont.eot?iefix') format('eot'),
     url('/fonts/Museo700-Regular-webfont.woff') format('woff'),
     url('/fonts/Museo700-Regular-webfont.ttf') format('truetype'),
     url('/fonts/Museo700-Regular-webfont.svg#webfont') format('svg'); }

body {
  background: #EAEBD2;
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 22px; }

a { color: #88C2B3; outline: none; text-decoration: underline; font-weight: bold; }
a:hover { color: #73B088; }

h1, h2, h3, h4 { font-family: 'Museo500-Regular-webfont', Arial, Helvetica, sans-serif; }
h1 { font-size: 42px; line-height: 42px; }
h2 { font-size: 36px; line-height: 36px; }
h3 { font-size: 20px; line-height: 20px; }

p { font-family: 'Museo300-Regular-webfont', Arial, Helvetica, sans-serif; }

#hr {
  height: 10px;
  width: 100%;
  border-top: 6px dashed #999;
  text-shadow: 2px 2px 1px #FFF;
  margin: 0 0 20px 0; }

/*------ button */
.button {
  display: inline-block;
  zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
  *display: inline;
  vertical-align: baseline;
  margin: 10px 20px 20px 20px;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-family: 'Museo500-Regular-webfont', Arial, Helvetica, sans-serif;
  font-size: 180%;
  padding: 10px 20px 5px 20px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  box-shadow: 0 1px 2px rgba(0,0,0,.2); }
  .button:hover {  text-decoration: none; }

.red {
  color: #FEF4E9;
  text-shadow: -1px -1px 2px #740C00;
  border: solid 1px #9C1A04;
  background: #CB1E05;
  background: -webkit-gradient(linear, left top, left bottom, from(#CB1E05), to(#9C1A04));
  background: -moz-linear-gradient(top,  #CB1E05,  #9C1A04);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#CB1E05', endColorstr='#9C1A04'); }
  .red:hover {
    color: #FEF4E9;
    background: #7F1605;
    background: -webkit-gradient(linear, left top, left bottom, from(#AE1B06), to(#7F1605));
    background: -moz-linear-gradient(top,  #AE1B06,  #7F1605);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#AE1B06', endColorstr='#7F1605'); }

/*------ main navigation */
  #headercontainer #links a {
    color: #EAEBD2;
    font-size: 18px;
    font-family: 'Museo300-Regular-webfont', Arial, Helvetica, sans-serif;
    margin: 40px 15px 0 15px;
    padding: 2px;
    display: inline-block;  }
    #headercontainer #links a:hover {
      background: #88C2B3; }


/*------ containers */
#maincontainer {
  margin: 0 auto;
  width: 960px; }

#headercontainer {
  height: 85px;
  width: 100%;
  background: #110B08;
  border-bottom: 1px solid #363636; }

  #headercontainer #maincontainer h1 a { float: left;
    margin: 0;
    width: 340px;
    height: 80px;
    background: transparent url('/images/tessell.png') 0 0 no-repeat;
    display: block;
    text-indent: -9999px; }

    #headercontainer #maincontainer #links {
      margin-top: 10px;
      width: 600px;
      float: right;
      text-align: right;
    }

#featurecontainer {
  float: left;
  width: 100%;
  background: #242424;
  margin: 0 0 40px 0; }

  #featurecontainer h2 {
    font-size: 30px;
    color: #EAEBD2;
    text-shadow: -2px -2px 2px #000;
    padding: 25px 0;
     }

  #featurecontainer ul li {
    font-family: 'Museo300-Regular-webfont', Arial, Helvetica, sans-serif;
    color: #EAEBD2;
    text-shadow: -1px -1px 1px #000;
    font-size: 18px;
    line-height: 30px;
    list-style-image: url('/images/bullet_red.png');
    margin: 0 24px; }
    #featurecontainer ul li span { font-size: 12px; }

    #featurecontainer .leftcol {
      margin: 10px 10px 10px 0;
      float: left;
      width: 470px; }

      #featurecontainer .leftcol h2 {
        font-family: 'Museo500-Regular-webfont', Arial, Helvetica, sans-serif;
        font-size: 36px;
        color: #88C2B3;
        text-shadow: -2px -2px 2px #000;
        padding: 20px 0; }

      #featurecontainer .leftcol li {
        font-family: 'Museo300-Regular-webfont', Arial, Helvetica, sans-serif;
        color: #EAEBD2;
        font-size: 13px;
        line-height: 20px;
        text-shadow: -1px -1px 1px #000;
        list-style-image: url('/images/bullet_green.png');
        margin: 0 0 10px 24px; }

    #featurecontainer .rightcol {
      background: #73B088;
      margin: 10px 0 10px 10px;
      padding: 0 20px 20px 20px;
      float: right;
      width: 430px;
      min-height: 200px;
      -moz-border-radius-bottomleft: 10px;
      -webkit-border-bottom-left-radius: 10px;
      -moz-border-radius-bottomright: 10px;
      -webkit-border-bottom-right-radius: 10px;
      -moz-border-radius-topleft: 10px;
      -webkit-border-top-left-radius: 10px;
      -moz-border-radius-topright: 10px;
      -webkit-border-top-right-radius: 10px; }

      #featurecontainer .rightcol > h2 {
        font-family: 'Museo500-Regular-webfont', Arial, Helvetica, sans-serif;
        font-size: 36px;
        color: #4C270F;
        text-shadow: 1px 0 2px #B2DFC3;
        padding: 20px 0; }

      #featurecontainer .rightcol > p {
        font-family: 'Museo500-Regular-webfont', Arial, Helvetica, sans-serif;
        color: #4C270F;
        text-shadow: 1px 0 1px #B2DFC3;
        margin: 0 0 10px 0; }
        #featurecontainer .rightcol p strong { font-size: 120%; }

      #featurecontainer .rightcol > ul > li {
        color: #4C270F;
        text-shadow: none;
        list-style: disc;
      }

      #featurecontainer .rightcol a {
        color: #CB1E05;
      }
        #featurecontainer .rightcol a:hover {
          color: #7F1605;
        }

      #featurecontainer .rightcol  a img { vertical-align: middle; margin: 0 0 10px 0; }

#contentcontainer {
  float: left;
  width: 100%;
  margin-top: 20px;
}

#contentcontainer h2 {
  color: #242424;
  text-shadow: 1px 1px 2px #FFF;
  margin: 0; }

#contentcontainer h3 {
  color: #242424;
  text-shadow: 1px 1px 2px #FFF;
  margin: 0; }

#contentcontainer #maincontainer > p, #contentcontainer #maincontainer > ul, #contentcontainer #maincontainer > ol {
  color: #5B5B5B;
  margin: 10px 0 20px 0;
  text-shadow: 1px 1px 1px #FFF;
  list-style-position: outside  }

#contentcontainer #maincontainer > ul > li, #contentcontainer #maincontainer > ol > li {
  font-family: 'Museo300-Regular-webfont', Arial, Helvetica, sans-serif;
  color: #5B5B5B;
  text-shadow: 1px 1px 1px #FFF;
  margin: 0 20px; }

/* ugh... */
#contentcontainer #maincontainer ul li ul,
#contentcontainer #maincontainer ul li ol,
#contentcontainer #maincontainer ol li ul,
#contentcontainer #maincontainer ol li ol {
  margin-left: 20px;
}

#contentcontainer .syntaxhighlighter {
  border: 1px solid black !important;
  width: 80% !important;
  margin-left: 1em !important;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
}
