<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.ui.externaltools.ProgramBuilderLaunchConfigurationType">
<stringAttribute key="org.eclipse.debug.core.ATTR_REFRESH_SCOPE" value="${working_set:&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;resources&gt;&#10;&lt;item path=&quot;/tessell-bootstrap/target&quot; type=&quot;2&quot;/&gt;&#10;&lt;/resources&gt;}"/>
<booleanAttribute key="org.eclipse.debug.ui.ATTR_LAUNCH_IN_BACKGROUND" value="false"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_BUILD_SCOPE" value="${working_set:&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;resources&gt;&#10;&lt;item path=&quot;/tessell-bootstrap/src/main/java/org/tessell/bootstrap/resources&quot; type=&quot;2&quot;/&gt;&#10;&lt;item path=&quot;/tessell-bootstrap/src/main/java/org/tessell/bootstrap/views&quot; type=&quot;2&quot;/&gt;&#10;&lt;/resources&gt;}"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_LOCATION" value="${system_path:java}"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_RUN_BUILD_KINDS" value="full,incremental,auto,"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_TOOL_ARGUMENTS" value="-cp &quot;target/eclipse:${resource_loc:/tessell-dev/target/eclipse}:${resource_loc:/tessell-user/target/eclipse}:${resource_loc:/tessell-dev/target/lib/default}/*:target/lib/provided/*:&quot;&#10;org.tessell.generators.Generator&#10;--inputDirectory src/main/java&#10;--outputDirectory target/generated/java&#10;--viewsPackageName org.tessell.bootstrap.views&#10;--resourcesPackageName org.tessell.bootstrap.resources"/>
<booleanAttribute key="org.eclipse.ui.externaltools.ATTR_TRIGGERS_CONFIGURED" value="true"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_WORKING_DIRECTORY" value="${workspace_loc:/tessell-bootstrap}"/>
</launchConfiguration>
